{% extends 'main/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    {% if user == current_user %}
        <h1>My profile</h1> <br>
        <a href="{{ url_for('accounts.edit_profile', username=current_user.username) }}">
            <button type="button" class="btn btn-outline-dark">Edit</button>
        </a>
        <a href="{{ url_for('accounts.change_password', username=current_user.username) }}">
            <button type="button" class="btn btn-outline-dark">Change password</button>
        </a> <br>
        <hr>
    {% else %}
        <h1>{{ user.username }} profile</h1> <br>
    {% endif %}
    {% include 'accounts/_profile.html' %}
{% endblock %}